
// Import typography
@import 'base/_variables';
@import 'base/_typography';
@import 'base/_base';  
@import 'base/_button';
// Import components
@import 'components/_header';
@import 'components/_animation';
@import 'components/_block1';
@import 'components/_block2';